language: rust
sudo: false
addons:
  apt:
    packages:
    - cmake
rust:
- stable
- nightly
- beta
before_script:
- pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo doc
after_success:
- travis-cargo --only stable doc-upload
matrix:
  allow_failures:
  - rust: nightly
env:
  global:
    secure: dImUn8j45HVoIx6wjgiODFtj3qK1T/A/0saNqJUlPhZUJcMn6pWvXmknDKn77CZ3XMSAmjoHwgVl2WYZ6bQy0SABmuhYx+7YxffFFzvzUxf90jPsCGICFY6PHJ+gN/nMU9oCYNdOkt0LAQyM+sSvA6mGTetIAM4ZtJNhVN7hP++hwZK/cDvfLSskWdQlvazdRm+vUONKtPAgv+y33hCnTsfheWQU/CF1rVgnpkxQbvAmB64ZMizJ97F86+wUWn5u85oGCcqIvoMkFI2J2DUS+pScOeuMMDg3BBwxYymm1p+b9tQZiIq3mgdUhZ1iCj06BCxJ8563S2kt22zPUQS5VEJgL4TSfzIa1b0nTlp6STUiUeMwg2pm+VUMIDIbxhApbR2NEXKwKstfb12wpGADSkyRNeIF3I70XMvyDaJ0/xKpSie6B8KpI/Z17Ftx4Uu57UMWCCG+nrHc4IE/xvxW5DtHDYoJafOHvExKPrkpV1htyjxKoolXyaDdcdxopeaLtqvB9SncYXMxEyWBaS6/8JpGSBKxvvXWszCLRlpG0wmLr6Mj9jcPaO3L4JJqBJ4r+mkrSZT6N0Xr13mUzgOUBBnfO+RsV10Pjzurt/iLkFjVHTiiK8I7Acmj3HY0nSpOs0OkuMj/ZB2RnmqH5tCpsB3YjBoRnAkoml97at4CkYA=
